<!DOCTYPE html>
<html>
  <head>
    {{> ../partials/_meta_header.mustache}}
    <meta property="og:url" content="{{domain}}/{{count}}.html" />
    <meta property="og:description" content="{{description}}" />
    <link type="text/css" rel="stylesheet" href="/styles/post.css">
  </head>
  <body>
    {{> ../partials/_content_background.mustache}}
    {{> ../partials/_content_navigation.mustache}}
    <div class="content">
      <div class="post">
        <h1>{{title}}</h1>
        {{{content}}}
      </div>
    </div>
    {{> ../partials/_content_footer.mustache}}
  </body>
</html>
