<!DOCTYPE html>
<html>
  {{> ../partials/_meta_header.mustache}}
  <body>
    {{> ../partials/_content_background.mustache}}
    {{> ../partials/_content_navigation.mustache}}
    <div class="content">
      <div class="post">
        {{{content}}}
      </div>
    </div>
    {{> ../partials/_content_footer.mustache}}
  </body>
</html>
