<!DOCTYPE html>
<html>
  <head>
    {{> ./partials/_meta_header.mustache}}
    <link type="text/css" rel="stylesheet" href="/styles/post.css">
  </head>
  <body>
    {{> ../partials/_content_background.mustache}}
    {{> ../partials/_content_navigation.mustache}}
    <div class="content">
      <div class="postLinkContainer">
        {{#firstPost}}<a class="postlink prev" href="/posts/{{firstPost}}.html">{{{'⟪'}}}</a>{{/firstPost}}
        {{#prevPost}}<a class="postlink prev" href="/posts/{{prevPost}}.html">{{{'⟨'}}}</a>{{/prevPost}}
        {{#lastPost}}<a class="postlink next" href="/posts/{{lastPost}}.html">{{{'⟫'}}}</a>{{/lastPost}}
        {{#nextPost}}<a class="postlink next" href="/posts/{{nextPost}}.html">{{{'⟩'}}}</a>{{/nextPost}}
      </div>
      <div class="post">
        <h1>{{title}}</h1>
        {{{content}}}
      </div>
    </div>
    {{> ../partials/_content_footer.mustache}}
  </body>
</html>
