<!DOCTYPE html>
<html>
  <head>
    {{> ./partials/_meta_header.mustache}}
    <link type="text/css" rel="stylesheet" href="/styles/about.css">
  </head>
  <body>
    {{> ./partials/_content_background.mustache}}
    {{> ./partials/_content_navigation.mustache}}
    <div class="content">
      <div class="about">
        {{{content}}}
      </div>
    </div>
    {{> ./partials/_content_footer.mustache}}
  </body>
</html>
