<!DOCTYPE html>
<html>
  {{> ./partials/_meta_header.mustache}}
  <body>
    <div class="container">
      {{> ./partials/_content_header.mustache}}
      <div class="index">
        {{#runIndex}}
          <div class="post">
            <div class="title">{{post.title}}</div>
            <div class="description">{{post.description}}</div>
          </div>
        {{/runIndex}}
      </div>
      {{> ./partials/_content_footer.mustache}}
    </div>
  </body>
</html>
