<!DOCTYPE html>
<html>
  {{> ./partials/_meta_header.mustache}}
  <body>
    {{> ./partials/_content_background.mustache}}
    {{> ./partials/_content_navigation.mustache}}
    <div class="content">
      <h1 class="index">Posts</h1>
      {{#postIndicies}}
        <a class="post" href="/posts/{{@key}}.html">
          <h5 class="title">{{('index.' @key ',title')}}</h6>
          <h6 class="keywords">{{('index.' @key ',keywords')}}</h6>
          <h6 class="description">{{('index.' @key ',description')}}</h6>
        </a>
      {{/postIndicies}}
    </div>
    {{> ./partials/_content_footer.mustache}}
  </body>
</html>
