<?xml version="1.0" encoding="UTF-8"?>
<rss version="2.0" xmlns:atom="http://www.w3.org/2005/Atom">
  <channel>
    <!-- Channel metadata -->
    <title>{{_domain}}</title>
    <link>{{domain}}</link>
    <atom:link href="{{domain}}/rss.xml" rel="self" type="application/rss+xml" />
    <description></description>
    <language>en-us</language>
    <lastBuildDate>{{_buildtime}}</lastBuildDate>

    {{#postIndicies}}
    <item>
      <title>{{('index.' . ',title')}}</title>
      <link>{{domain}}/posts/{{.}}.html</link>
      <guid isPermaLink="false">{{('index.' . ',guid')}}</guid>
      <description>{{('index.' . ',description')}}</description>
      <pubDate>{{('index.' . ',datestamp')}} {{('index.' . ',timestamp')}}</pubDate>
      {{generateKeywordLinks . 'category'}}
    </item>
    {{/postIndicies}}
  </channel>
</rss>
