div.content a.post {
    color: var(--secondary);
    text-decoration: none;
    display: block;
    padding: calc(var(--spacing) / 2);
    border: 1px solid var(--primary);
    border-radius: calc(var(--corner-radius) /2);
}

div.content a.post:hover {
    border: 1px solid var(--secondary);
}

div.content a.post:hover .title {
    color: var(--highlight);
}

div.content h1 {
    font-weight: 400;
    margin-bottom: calc(var(--spacing) / 3);
    padding-bottom: calc(var(--spacing) / 6);
    border-bottom: 4px double var(--secondary);
}

div.content h2, div.content h3 {
    font-weight: 200;
    margin-bottom: 0.2em;
}

div.content h4, div.content h5 {
    font-weight: 400;
    margin: 0;
}

div.content h6 {
    font-weight: 400;
    margin: 0.2em 0;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    font-size: 0.67em;
}
