div.content a {
    color: var(--highlight);
    text-decoration: none;
}

div.content h1 {
    font-weight: 400;
    margin-bottom: calc(var(--spacing) / 3);
    padding-bottom: calc(var(--spacing) / 6);
    border-bottom: 4px double var(--secondary);
}

div.content h2, div.content h3 {
    font-weight: 200;
    border-left: 1px solid;
    margin-bottom: 0.2em;
    margin-top: 1.5em;
    border-left: 2px solid var(--secondary);
    border-bottom: 2px solid var(--secondary);
    font-weight: 200;
    margin-bottom: 0.2em;
}

div.content h4, div.content h5 {
    font-weight: 400;
    margin: 0;
}

div.content h6 {
    font-weight: 400;
    margin: 0.2em 0;
}

div.content h2, div.content h3, div.content h4, div.content h5, div.content h6 {
    padding-left: 0.5em;
}
