div.publication-date {
    font-size: 0.7em;
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 0.25em;
}

div.content a {
    color: var(--highlight);
    text-decoration: none;
    font-weight: 400;
}

div.content h1 {
    font-weight: 400;
    margin-bottom: calc(var(--spacing) / 3);
    padding-bottom: calc(var(--spacing) / 6);
    border-bottom: 4px double var(--secondary);
}

div.content h2, div.content h3 {
    font-weight: 200;
    margin-bottom: 0.2em;
    margin-top: 1.5em;
    border-left: 2px solid var(--secondary);
    border-bottom: 2px solid var(--secondary);
    font-weight: 200;
    font-size: 1.35em;
    padding-bottom: 0.2em;
    padding-left: 0.5em;
}

div.content li > h4, div.content li > h5, div.content li > h6 {
    margin: 1.75em 0 0 0;
}

div.content h4, div.content h5, div.content h6 {
    border-bottom: 2px dotted var(--secondary);
    margin: 0.75em 0;
    display: block;
    width: fit-content;
    font-weight: 400;
}

div.content pre {
    padding: 1em;
    background-color: var(--lowlight);
    border-radius: 0.2em;
    overflow-x: scroll;
}

div.content pre code {
    font-family: consolas, monospace;
    font-size: 0.9em;
}

div.content p code, div.content li > code {
    border-radius: 0.2em;
    font-size: 0.9em;
    font-family: consolas, monospace;
    font-weight: 400;
    padding: 0.2em 0.3em 0.1em 0.3em;
    background-color: var(--lowlight);
}

div.content blockquote {
    margin-left: 1em;
}

div.content blockquote p {
    padding-left: 1em;
    border-left: 2px dotted var(--secondary);
}

/* Vertical displays and tablets */
@media (orientation: portrait) {
    div.publication-date {
        position: relative;
        text-align: center;
        margin: 1em;
    }

    div.content {
        margin: calc(var(--spacing) / 3) auto var(--spacing) auto;
    }

    /* High-DPI phones in portrait */
    @media (min-resolution: 3dppx) {
        div.publication-date {
        }
    }
}

/* Phones and other narrow viewports */
@media (max-width: 40em) {
    div.publication-date {
    }
}
