<div class="header">
  <a class="left hero" href="/index.html">amcnamara.me</a>
  <a href="/about.html">about</a>
  <a class="logo-button rss" href="/rss.xml">rss</a>
  <a class="logo-button twitter" href="https://twitter.com/__amcnamara">twitter</a>
  <a class="logo-button github" href="https://github.com/amcnamara">github</a>
  <a class="logo-button facebook" href="https://facebook.com/mcnamara.alex">facebook</a>
</div>
