<div class="footer">
  <a href="/sitemap.txt">sitemap</a>
  <div class="copyright">
    This page is available under the <a href="https://creativecommons.org/licenses/by/4.0/legalcode">Creative Commons Attribution License</a>.
  </div>
</div>
