<div class="footer">
  <a class="logo-button backup" href="/{{_bundle}}">{{> ../../static/images/backup.svg}}</a>
  <a class="logo-button sitemap" href="/sitemap.txt">{{> ../../static/images/sitemap.svg}}</a>
  <div class="spacer">&nbsp;</div>
  <div class="copyright">
    This page is available under the <a href="https://creativecommons.org/licenses/by/4.0/legalcode">creative commons attribution license</a>. Powered by <a href="https://github.com/amcnamara/git-blog">git-blog</a>.
  </div>
  <div class="copyright small">
    <a href="https://creativecommons.org/licenses/by/4.0/legalcode">CC BY 4.0</a> Powered by <a href="https://github.com/amcnamara/git-blog">git-blog</a>.
  </div>
</div>
