<div class="header">
  <a class="left hero" href="/index.html">{{domain}}</a>
  <a href="/about.html">about</a>
  <a class="logo-button rss" href="/rss.xml">rss</a>
  {{#_bluesky}}
  <a class="logo-button bluesky" href="https://{{_bluesky}}">bluesky</a>
  {{/_bluesky}}
  {{#_twitter}}
  <a class="logo-button twitter" href="https://{{_twitter}}">twitter</a>
  {{/_twitter}}
  {{#_github}}
  <a class="logo-button github" href="https://github.com/{{_github}}">github</a>
  {{/_github}}
  {{#_facebook}}
  <a class="logo-button facebook" href="https://facebook.com/{{_facebook}}">facebook</a>
  {{/_facebook}}
</div>
